node_modules
visualiser-win32-x64
dist
public
build
temperature-visualizer-win32-x64
temperature-visualizer-win32-x64_
temperature-visualizer-win32-x64__
temperature-visualizer-win32-x64___


*.js

*.js.map

log.txt
tasks.txt
*.jpg